html {
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  html {
    overflow: scroll;
  }
}
:root {
  --bgdark: rgb(44, 47, 52);
}

.code-editor {
  background-color: navy;
  border-radius: 20px;
}


.h-screen {
  height: 100vh;
}
.h-full {
  height: 100%;
}
.h-screen-minus-navbar {
  height: calc(100vh - 16px);
  /* height: 89.4vh; */
  position: relative;
  top: -16px;
}

@keyframes NavbarKeyframe {
  0% {
    background-color: rgba(44, 42, 42, 0.767);
    /* background-color: rgba(0, 0, 0, 0.623); */
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: rgba(44, 42, 42, 0.767);
  }
}
.cx_navbar {
  position: sticky;
  top: -10px;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.623);
  animation-name: NavbarKeyframe;
  animation-duration: 4s;
  animation-iteration-count: 100000;
}
@media screen and (max-width: 768px) {
  .cx_navbar {
    position: fixed;
    top: 0px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.623);
    animation-name: NavbarKeyframe;
    animation-duration: 4s;
    animation-iteration-count: 100000;
  }
  .homepage {
    padding-top: 5em;
  }
  .h-screen-minus-navbar {
    min-height: calc(100vh);
    height: 100%;
    position: relative;
    margin-bottom: 0px;
  }
}


.pos-normal {
  position: relative;
  z-index: 1;
}

.cx_codeeditor {
  border-radius: 20px !important;
}
.cx_codeeditor *::-webkit-scrollbar {
  width: 4px !important;
}
.cx_codeeditor *::-webkit-scrollbar-track {
  background-color: transparent;
}
.cx_codeeditor *::-webkit-scrollbar-thumb {
  background-color: var(--bgdark);
  border-radius: 20px;
  height: 1px;
  transition: all linear 1000ms;
}
.cx_codeeditor *::-webkit-scrollbar-thumb:hover {
  background-color: var(--bgdark);
}

.cd_app_level_elm {
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

.cx_overflow_y_scroll {
  overflow-y: scroll;
}

.cx_logs {
  min-height: 320px;
  overflow-y: scroll;
}

.cx_sidebar {
  height: 100%;
  max-height: 50vh !important;
}

.cx_scrollbar::-webkit-scrollbar {
  width: 9px;
}
.cx_scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.cx_scrollbar::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
  border-radius: 20px;
  height: 20px;
  transition: all linear 1000ms;
}
.cx_scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(80, 80, 247);
}


.cx_bgdark {
  background-color: var(--bgdark) !important;
}

.CodeMirror, .CodeMirror * {
  background-color: var(--bgdark) !important;
}

.cx_border-all {
  border: 1px solid #555;
}

.cx_textmuted {
  color: #777;
}

.cx_btn_link {
  background: transparent;
  border: 0;
  outline: 0;
}

.cx_dropdown {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 1px #777;
  min-height: 200px;
  min-width: 100px;
}
.cx_dropdown .dismiss-btn {
  color: #444;
  transition: all linear 600ms;
  cursor: pointer;
}
.cx_dropdown .dismiss-btn:hover {
  color: #999;
}

.example-dropdown {
  position: absolute;
  top: 3.5em;
  right: 0.8em;
  max-width: 250px;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background-color: rgba(255, 255, 255, 0.023);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  flex-direction: row;
  justify-content: flex-end;
}
.mobile-menu .content {
  background-color: whitesmoke;
  width: 100%;
  max-width: 280px;
  height: 100%;
  max-height: 100vh;
}
.mobile-menu .divide {
  margin-bottom: 1em;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #adadad;
}

.mobile-menu-example-menu {
  top: 20%;
}

.transform-rotate-180 {
  transform: rotate(90deg);
}